# TrophySlots AT
# Last updated: MC 1.9 - 19 March 2016

# GuiContainer
public net.minecraft.client.gui.inventory.GuiContainer guiLeft #guiLeft
public net.minecraft.client.gui.inventory.GuiContainer guiTop #guiTop

# GuiScreen
public net.minecraft.client.gui.GuiScreen buttonList #buttonList